<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/WOmnv1x.png);">

  <div class="container text-center">
    <h1>We are what we repeatedly do. <br> Excellence, then, is not an act, but a habit</h1>
    <p>Find englightenment in the company of a classic Greek Philosopher.</p>
    <%= link_to "See the Philosophers", philosophers_path, class: "btn btn-flat join-in" %>
    <%# <a class="btn btn-flat join-in" href="#">See the philosophers!</a> %>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    Classical philosophers also <i class="fas fa-heart"></i> social media!
  </div>
  <div class="footer-links list-inline">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
