<div class="container">

  <div class="row">
    <div class="col-6 text-center">
     <h1>Those who know, do. Those that understand, teach.</h1>
     <p>Book some time with one of the famous Greek Philosophers right out of golden age!</p>  
    </div>
  </div>

  <div class="row justify-content-center align-items-center">    

    <% @philosophers.each do |philosopher| %>
      <div class="card text-center col-xm-12 col-sm-4 m-3" style="width: 18rem;">

          <%# if philosopher.photo.attached?  %>
          <%#=  cl_image_tag philosopher.photo.key, width: 348, height: 124, class: "card-img-top" %>
          <%# end %>

          <div class="card-body">
            <h5 class="card-title"><%= philosopher.name  %></h5>
            <%= link_to "Check out #{philosopher.name}", "/philosphers/#{philosopher.id}", class: "btn btn-secondary btn-lg text-center" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
