<div class="container">
  <%= form_tag philosophers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a philosopher"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  
  <div class="row opener justify-content-center">
    <div class="col-6">
     <h1 class="index-quote">Those who know, do. <br> Those that understand, teach.</h1>
     <br>
     <p>Book some time with one of the famous Greek Philosophers right out of golden age!</p>  
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="cards mb-3">
      <% @philosophers.each do |philosopher| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.imgur.com/OELHk5p.jpg)">
          <%= link_to "#{philosopher.name}", "/philosophers/#{philosopher.id}", class: "text-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




  

<%# if philosopher.photo.attached?  %>
<%#=  cl_image_tag philosopher.photo.key, width: 348, height: 124, class: "card-img-top" %>
<%# end %>