.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .btn {
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  padding: 4px;
  padding-bottom: 2px;
}

.navbar-lewagon .btn:hover {
  opacity: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar-lewagon ul {
    text-align: center;
  }
  .search-bar {
    margin-left: 50px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-lewagon ul {
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-lewagon ul {
    text-align: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-lewagon ul {
    text-align: center;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-lewagon ul {
    text-align: center;
  }
}